{% extends "base.html" %}

{% block title %}
FAQ
{% endblock title %}

{% block content %}

<div id="accordion">
    {% for id, qa in faq_dict.items() %}
    <div class="card">
        <div class="card-header" id="heading_{{id}}">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{id}}" aria-expanded="true"
                        aria-controls="collapse_{{id}}">
                    {{qa['q']|safe}}
                </button>
            </h5>
        </div>
        <div id="collapse_{{id}}" class="collapse show" aria-labelledby="heading_{{id}}" data-parent="#accordion">
            <div class="card-body">
                {{qa['a']|safe}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}